@import "../scss/_variables.scss";

.sell-games {
    height: 100vh;
    text-align: center;
    .wrapper {
        &.user {
            main {
                max-width: 60%;
                min-width: 40rem;
                margin: auto;
                form {
                    fieldset {
                        .input-group {
                            label {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        &.no-user {
            main {
                max-width: 40%;
                min-width: 35rem;
                margin: auto;
                padding: 2.5rem;
                background: $white;
                border-radius: 1rem;
                p {
                    margin-bottom: 1.5rem;
                }
                .connect-to-us {
                    div {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        .btn {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.about {
        .about-modal {
            display: block;
            opacity: 1;
            pointer-events: initial;
        }
    }
}