@import "../scss/_variables.scss";

.landing {
    .wrapper {
        padding: 0 20%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        background-position: center;
        background-size: cover;
    
        > * {
            margin-bottom: 1rem;
        }
    
        h1 {
            margin: 10vh 0 0;
            font-family: 'Nunito', sans-serif;
            font-size: 7rem;
            font-weight: $heavy;
            font-style: italic;
            color: $orange;
        }
    
        h2 {
            margin: 0 0 2.5rem;
            font-size: 3rem;
            font-weight: $bold;
        }
    
        p {
            font-size: 1.5rem;
            font-weight: $medium;
        }
    
        .connect-to-us {
            margin-top: 2rem;
        }
    
        .btn-round {
            position: absolute;
            top: 50%;
            right: 5rem;
            transform: translateY(-50%);
        }
    }
}