<section class="landing full-height index" [ngClass]="{about: isAbout}" mouseWheel (mouseWheelDown)="mouseWheelDownFunc(event)">
    <div class="wrapper center-flex">
        <h1>DÉBAZAR</h1>
        <h2><span class="txt-bold">Débazar</span> : des jeux de société d’occasion de qualité au meilleur prix !</h2>
        <p>Voici un nouveau concept dans le monde du jeu de plateau ! <span class="txt-bold">Débazar</span>, c’est VOTRE espace pour mettre en vente les jeux qui encombrent vos étagères. Faites de la place chez vous tout en gagnant de l’argent pour acheter de nouveaux jeux.</p>
        <p>Oui, nous sommes machiavéliques chez <span class="txt-bold">Débazar</span> ! Vous vous inscrivez ?</p>
        <div class="connect-to-us">
            <div *ngIf="username; else noUser">
                <a [routerLink]="['/annonces']" class="btn btn-primary">Mon espace</a>
            </div>
            <ng-template #noUser>
                <div>
                    <a [routerLink]="['/connexion']" class="btn btn-secondary">Me connecter</a>
                    <a [routerLink]="['/inscription']" class="btn btn-primary">Rejoignez-nous !</a>
                </div>
            </ng-template>
        </div>
        <a [routerLink]="['/annonces-jeux-recentes']" class="btn btn-primary btn-round">
            <fa-icon [icon]="faChevronRight" size="lg"></fa-icon>
        </a>
    </div>
    <footer>
        <span (click)="toggleAbout()" class="btn btn-primary btn-round">
            <fa-icon [icon]="faQuestion"></fa-icon>
        </span>
    </footer>
    <div class="about-modal">
        <div class="content card">
            <h2>Débazar : des jeux de société d’occasion de qualité au meilleur prix !</h2>
            <p>Voici un nouveau concept dans le monde du jeu de plateau ! Débazar, c’est VOTRE espace pour mettre en vente les boîtes qui encombrent vos étagères. Faites de la place chez vous tout en gagnant de l’argent pour en acheter de nouveaux. Oui, nous sommes machiavéliques chez Débazar ! Vous vous inscrivez ?</p>
            <h2>Choisissez votre prochain jeu de société d’occasion !</h2>
            <p>Prenez le temps de parcourir les annonces et les avis laissés par les internautes sur Débazar. Ils seront d’excellents guides pour vous aider dans votre prochaine acquisition. Le partage d’expérience, il n’y a que cela de vrai !</p>
            <p>Osez naviguer dans nos différentes catégories et laissez-vous surprendre. En quelques clics, découvrez un Escape Game, un jeu de Stratégie, un coopératif, un jeu de carte ou un jeu pour jouer à deux (non, rien de cochon là dedans).</p>
            <p>Repérez le produit qui vous intéresse, commandez auprès de nos utilisateurs, payez de manière sécurisée et recevez chez vous, quelques temps plus tard, votre nouvelle acquisition, en toute sécurité. Plus besoin de passer en boutique !</p>
            <p>C’est le petit plus « Débazar ».</p>
            <h2>Les jeux de société, qu’est-ce que c’est ?</h2>
            <p>Les loisirs ludiques partout aujourd'hui. Bar à jeux, ludothèques, magasins spécialisés dispensent désormais la bonne parole : s’amuser, c’est bien !</p>
            <p>Plusieurs centaines de nouveautés sortent chaque année. Des jeux de plateaux, de figurine, d’apéro, de rôle, il y en a pour tous les goûts. Les plus téméraires se lanceront dans des parties de plusieurs heures quand les plus spontanés trouveront des jeux à jouer autour d’un verre en moins de quinze minutes.</p>
            <p>Avec Débazar, vous allez pouvoir vous lancer à votre tour dans le monde du jeu. Notre équipe vous conseille ses plus grands coups de cœurs, dans tous les genres. Pour chasser dans la jungle ludique, ne partez plus sans nous. Et si vous voulez vous la jouer coopératif, notez vos produits préférés pour les conseillers aux autres utilisateurs du site !</p>
            <p>L’essentiel c’est de partici… c’est de faire de belles découvertes.</p>
            <h2>Un moment de partage en famille</h2>
            <p>Jouer, c’est l’occasion de se retrouver en famille ou entre amis pour passer un moment dépaysant. Que vous ayez envie de jouer très sérieusement à des jeux de stratégie, ou de délirer sur des jeux d’adresse, il y a toujours un moyen de se retrouver. Fini les dimanches après-midi ennuyeux quand il fait gris dehors. Fini les soirées séries télés en bingewatching. Invitez des copains, appelez la famille, sortez un jeu et profitez tous ensemble !</p>
            <h2>Offrez à vos enfants des jeux de société moderne</h2>
            <p>Surtout que depuis quelques années maintenant, il est possible de réunir petits et grandes pour de vrais bons moments de détente en commun. L’époque où les jeux pour enfants étaient simplistes et ridicules, c’est révolu ! Désormais, les parents aussi peuvent s’amuser !</p>
            <p>Venez découvrir les produits pour les plus jeunes, mis en vente par nos internautes. Prenez-en un nouveau et rangez les trop classiques Bonne Paye et Monopoly !</p>
            <h2>Les jeux de société, ce n’est pas qu’à noël</h2>
            <p>Acheter des jeux de société d’occasion, c’est pouvoir se faire plaisir à petit prix en dehors des périodes d’achats de cadeaux. C’est aussi l’occasion de valoriser ces boîtes qui vous ont déçus mais qui pourront trouver de nouveaux fans facilement.</p>
            <p>Débazar, c’est la possibilité offerte à toute la communauté ludique de résoudre ses deux problèmes majeurs : « Je n’ai plus de place ! », « Ca coûte trop cher ! ».</p>
            <p>Soyez joueur !</p>
        </div>
        <div class="close-btn btn btn-primary btn-round" (click)="toggleAbout()">
            <fa-icon [icon]="faTimes" size=lg></fa-icon>
        </div>
    </div>
</section>
