@import "../scss/_variables.scss";

.landing {
    .wrapper {
        padding: 0 20%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        background-position: center;
        background-size: cover;
    
        > * {
            margin-bottom: 1rem;
        }
    
        h1 {
            margin: 10vh 0 0;
            font-family: 'Nunito', sans-serif !important;
            font-size: 7rem !important;
            font-weight: $heavy !important;
            font-style: italic !important;
            color: $orange;
            font: initial;
        }
    
        h2 {
            margin: 0 0 2.5rem !important;
            font-size: 3rem !important;
            font-weight: $bold !important;
            font-family: $font-family !important;
        }
    
        p {
            font-size: 1.5rem;
            font-weight: $medium;
        }
    
        .connect-to-us {
            margin-top: 2rem;
        }
    
        .btn-round {
            position: absolute;
            top: 50%;
            right: 5rem;
            transform: translateY(-50%);
        }
    }
    footer {
        padding: 2rem 0;
        text-align: center;
    }
    &.about {
        overflow: visible;
        .about-modal {
            display: block;
            opacity: 1;
            pointer-events: initial;
        }
    }
}