@import "../scss/_variables.scss";

section {
    min-height: calc(100vh - 6rem);
    .wrapper {
        .game-body {
            width: 60%;
            margin: auto;
            padding: 0 2.5rem;

            h3 {
                display: inline-block;
                margin-bottom: 1.5rem;
                font-size: 1.8rem;
                &:after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    display: block;
                    background: $orange;
                }
            }

            ul {
                li {
                    margin-bottom: .5rem;
                }
            }

            header {
                display: flex;
                figure {
                    min-height: 20rem;
                    min-width: 20rem;
                    background-repeat: no-repeat;
                    background-position: 80%;
                    background-size: contain;
                }
                .description {
                    padding-left: 2.5rem;
                    flex-grow: 1;
                }
            }
        }
    }
    .spinner-wrapper {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
            stroke: $orange;
        }
    }
    > footer {
        margin: 2.5rem 0;
        text-align: center;
    }
}