@import '_variables.scss';

.register-page {
    .step {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .title {
            h2 {
                font-size: 4rem;
                font-family: 'Nunito', sans-serif;
                text-align: center;
            }
        }
        &.step-1 {

            fieldset {
                width: 60%;
                border: none;
                .input-group {
                    input {
                        background: $white;
                    }
                }
            }
        }
    }
}