@import '_variables.scss';

.register-page {
    overflow: hidden;
    .wrapper {
        padding-top: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        transition: transform 1s linear;
        .step {
            min-height: calc(100vh - 6rem);
            max-height: calc(100vh - 6rem);
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            .title {
                h2 {
                    font-size: 4rem;
                    font-family: 'Nunito', sans-serif;
                    text-align: center;
                }
            }
            &.step-1 {
                fieldset {
                    width: 60%;
                    border: none;
                    .input-group {
                        input {
                            background: $white;
                        }
                    }
                }
            }
        }
        &.current-step-2 {
            transform: translateX(-100vw);
        }
        &.current-step-3 {
            transform: translateX(-200vw);
        }
    }
}