@import '_variables.scss';

.register-page {
    overflow: hidden;
    .wrapper {
        padding-top: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        transition: transform 1s ease-out;
        .step {
            min-height: calc(100vh - 6rem);
            max-height: calc(100vh - 6rem);
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            header {
                padding-bottom: 5rem;
                .title {
                    h2 {
                        font-size: 4rem;
                        font-family: 'Nunito', sans-serif;
                        text-align: center;
                    }
                }
                .tooltip {
                    width: 60%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            fieldset {
                width: 50%;
            }
            &.step-1 {
                fieldset {
                    .input-group {
                        input {
                            background: $white;
                        }
                    }
                }
            }
            &.step-2 {
                fieldset {
                    .input-group {
                        text-align: center;
                        margin-bottom: 1.5rem;
                        &.avatar-input {
                            width: 50%;
                            margin: 0 auto 1.5rem;
                        }
                    }
                }
            }
        }
        &.current-step-2 {
            transform: translateX(-100vw);
        }
        &.current-step-3 {
            transform: translateX(-200vw);
        }
    }
}