<section class="popular-games index" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)">
    <div class="wrapper">
        <header>
            <h2>Jeux les PLUS populaires</h2>
        </header>
        <div class="popular-games-list-container">
            <app-game-card [game]=game *ngFor="let game of games"></app-game-card>
        </div>
    </div>
    <app-scroller page_url="/jeux" page_title="Voir les offres sur ces jeux" prev_url="/vendre-mes-jeux" next_url="/meilleurs-jeux-societe"></app-scroller>
</section>