@import "../scss/_variables.scss";

.popular-games {
    min-height: calc(100vh - 7.5rem);
    .wrapper {
        .popular-games-list-container {
            padding: 0 2.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            > * {
                width: 33%;
                padding: 1rem;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        position: fixed;
        height: 2rem;
        right: 0;
        left: 0;
        background: linear-gradient($background--fill, transparent);
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.about {
        overflow: visible;
        .about-modal {
            display: block;
            opacity: 1;
            pointer-events: initial;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .popular-games {
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        .wrapper {
            .popular-games-list-container {
                > * {
                    width: 100%;
                }
            }
        }
    }
}