<section class="popular-games index" [ngClass]="{about: isAbout}" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)">
    <div class="wrapper">
        <header>
            <h2>Jeux les PLUS populaires</h2>
        </header>
        <div class="popular-games-list-container">
            <app-game-card *ngFor="let game of games" [game]=game.game></app-game-card>
        </div>
    </div>
    <footer>
        <app-scroller page_url="/jeux" page_title="Voir nos jeux"></app-scroller>
        <span (click)="toggleAbout()" class="btn btn-primary btn-round">
            <fa-icon [icon]="faQuestion"></fa-icon>
        </span>
    </footer>
    <div class="about-modal">
        <div class="content card">
            <h2>Le Top des jeux de société des Débazaronautes</h2>
            <p>Vous les aimez, ils sont là, ce sont VOS jeux !</p>
            <p>Retrouvez tous les jeux proposés à la vente sur Débazar selon l’évaluation de ceux qui les achètent ou les vendent. Donv vous !</p>
            <p>Et vous êtes la meilleure source de conseils pour découvrir de nouveaux jeux de société ! Alors notez-les tous, avec le moins de mauvaise foi possible (mais si, on sait faire…) et faites-nous ressortir les pépites passées sous les radars !</p>

            <h2>Les top 10 des jeux tous genres confondus</h2>
            <p>On ne fait aucun tri, on ne regarde pas le public cible, la durée, le style du jeu… Ce sont juste les 10 meilleurs jeux selon vous, qui aient été proposés sur ce site. Alors, vous validez ?</p>

            <h2>Le top des jeux de plateau</h2>
            <p>La catégorie reine, celle qui incarne le jeu de société par essence, c’est le jeu de plateau. Dans toutes ses variantes, dans toute la richesse de l’imagination débordante des auteurs et autrices. Vous avez voté pour vos préférés ?</p>

            <h2>Le top des jeux de stratégie</h2>
            <p>Votre adversaire sait que vous savez qu’il sait ce que vous savez qu’il sait. Et vous adorez ça ! Voici votre top des jeux de stratégie. Sortez vos tenues de généraux ou fourbissez vos argumentaires de courtisans et lancez-vous dans l’affrontement !</p>

            <h2>Le top des jeux à deux</h2>
            <p>Parfaits pour organiser des affrontements entre ennemis mortels ou passer une soirée en amoureux, ces jeux ne se jouent pas à trois. Ils sont spécifiquement conçus pour se jouer en duo, avec des règles garanties originales et sans adaptations. Vous retrouvez vos préférés ?</p>

            <h2>Le top des jeux pour enfants</h2>
            <p>Ils sont d’abord adressés aux petits, mais ces jeux ont aussi la possibilité d’amuser les parents. Histoire que le temps de jeu ne soit pas une corvée. Alors, chers parents, quels sont vos coups de cœur ?</p>

            <h2>Le top des jeux de cartes</h2>
            <p>Taper le carton sans en passer par les vieux et classiques jeux comme le tarot, la belote ou la bataille. Draftez, deckbuildez, bref, jouez vos cartes pour gagner à la fin. Lesquels ont votre préférence ?</p>

            <h2>Le top des jeux coopératifs</h2>
            <p>Vous battre contre vos amis par le truchement des jeux, ce n’est pas votre truc ! Vous, ce que vous aimez, c’est jouer « ensemble ». Alors les jeux coopératifs sont pour vous. Votre adversaire, ce n’est plus que le jeu lui-même. Quels sont ceux que vous aimez pratiquer ?</p>

            <h2>Le top des jeux en bois</h2>
            <p>Ils ont la saveur du passé ! Pas la peine de les gouter pour le savoir, ces jeux nous plongent en enfance et dans la tradition. Pourquoi se priver de telles sensations ? Quels sont ceux qui vous reviennent en mémoire ?</p>

            <h2>Le top des jeux de dessin</h2>
            <p>La créativité, c’est tout vous ! Dès qu’on vous donne un crayon, vous devenez imbattable à n’importe quel jeu ! Notez les jeux qui vous éclatent le plus !</p>
        </div>
        <div class="close-btn btn btn-primary btn-round" (click)="toggleAbout()">
            <fa-icon [icon]="faTimes" size=lg></fa-icon>
        </div>
    </div>
</section>