@import "../scss/_variables.scss";

.game-card {
    height: 100%;
    .card-wrapper {
        height: 100%;
        .main-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            .informations {
                flex-grow: 1;
                display: flex;
                flex-flow: column nowrap;
                .description {
                    flex-grow: 1;
                    word-break: break-word;
                }
                .showcase {
                    text-align: center;
                    p {
                        font-size: 2rem;
                    }
                    .medal {
                        margin-top: 1rem;
                        display: inline-block;
                        position: relative;
                        .rating {
                            position: absolute;
                            top: 1.8rem;
                            right: 40%;
                            font-size: 2.5rem;
                            text-align: center;
                        }
                    }
                }
                footer {
                    .btn-primary {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}