<section class="full-height">
    <div class="wrapper">
        <div class="advert-body" *ngIf="!isLoading; else loading;">
            <article>
                <div class="inner">
                    <figure [ngStyle]="{'background-image': 'url(' + advert.game.image + ')'}"></figure>
                    <main>
                        <h1 class="txt-heavy">{{ advert.game.name }}</h1>
                        <div>
                            <var class="txt-heavy txt-orange"> {{ advert.price }} €</var>
                            <p>Mise en ligne le {{advert.publishedAt }} </p>
                            <p><b>État :</b> {{ advert.state }} </p>
                            <div class="row">

                            </div>
                            <div class="rating">
                                <span>Note du jeu : </span>
                                <ul class="rating-stars">
                                    <li *ngFor="let star of ratingStars(advert.game.rating)">
                                        <span *ngIf="star; else emptyStar">
                                            <fa-icon [icon]="fasStar"></fa-icon>
                                        </span>
                                        <ng-template #emptyStar>
                                            <span>
                                                <fa-icon [icon]="farStar"></fa-icon>
                                            </span>
                                        </ng-template>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </main>
                    <div class="infos">
                        <div class="description-annonce">
                            <p class="txt-bold txt-orange">Description du vendeur :</p>
                            <p> {{advert.text}} </p>
                        </div>
                    </div>
                </div>
            </article>
            <aside>
                <div class="user">
                    <h3 class="txt-heavy"> {{ advert.user.firstname }} {{ advert.user.lastname }} </h3>
                    <div class="infos">
                        <figure></figure>
                        <div>
                            <a href="mailto:{{advert.user.email}}?subject={{mailSubject}}" class="btn btn-primary btn-small">
                                <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
                                Message au vendeur
                            </a>
                            <button class="btn btn-primary btn-small">
                                <fa-icon [icon]="faPhone" size="lg"></fa-icon>
                                Appeller le vendeur
                            </button>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <a href="/jeux/{{advert.game.id}}" class="btn btn-secondary">Fiche du jeu</a>
                    <a href="" class="btn btn-primary">Acheter</a>
                </div>
            </aside>
        </div>
        <ng-template #loading>
            <div class="spinner-wrapper">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </div>
    <app-footer></app-footer>
</section>