@import "../scss/_variables.scss";

.all-adverts {
    .wrapper {
        .advert-list-container {
            padding: 0 2.5rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            > * {
                width: 50%;
                padding: 1rem;
            }
        }
    }
}