@import "../scss/_variables.scss";

.all-adverts {
    .wrapper {
        .advert-list-container {
            padding: 1rem 5% 2.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            > * {
                max-width: 50%;
                min-width: 50%;
                padding: 1rem;
            }
        }
        .spinner-wrapper {
            padding: 5rem 0;
            display: flex;
            justify-content: center;
            ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
                stroke: $orange;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .all-adverts {
        .wrapper {
            .advert-list-container {
                > * {
                    min-width: 100%;
                }
            }
        }
    }
}