<footer>
    <nav>
        <h4>À Propos</h4>
        <ul>
            <li>
                <a [routerLink]="['/conditions-generales']" routerLinkActive="router-link-active" >Conditions générales de vente</a>
            </li>
            <li>
                <a [routerLink]="['/donnes-personnelles']" routerLinkActive="router-link-active" >Données personnelles</a>
            </li>
            <li>
                <a [routerLink]="['/mentions-legales']" routerLinkActive="router-link-active" >Mentions légales</a>
            </li>
            <li>
                <a [routerLink]="['/cookies']" routerLinkActive="router-link-active" >Cookies</a>
            </li>
        </ul>
    </nav>
    <div class="social-links">
        <h4>Les réseaux du Bazar</h4>
        <ul>
            <li>
                <a href="https://www.facebook.com/debazarjeuxsociete/" target="_blank">
                    <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/debazar.fr/" target="_blank">
                    <fa-icon [icon]="faInstagramSquare" size="2x"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</footer>