@import "../scss/_variables.scss";

.card {
    display: block;
    padding: 2rem;
    background: $white;
    border-radius: 1.25rem;
    box-shadow: 0 0 1.5rem rgba($black, .2);

    @include before-triangle(left);

    .card-wrapper {
        .main-container {
            aside {
                padding-right: .75rem;

                figure {
                    min-height: 15rem;
                    min-width: 15rem;
                    margin: auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }

            .informations {
                padding-left: .75rem;

                header {
                    color: $orange;

                    .title {
                        padding-bottom: .5rem;
                        margin-bottom: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid $orange;

                        h2 {
                            font-size: 2.5rem;
                            font-family: 'Nunito', sans-serif;
                            font-weight: $heavy;
                        }

                        var {
                            font-weight: $bold;
                            font-style: normal;
                            font-size: 1.6rem;
                        }
                    }
                }
                .row {
                    margin-bottom: 1.5rem;
                    .genre {
                        font-size: 1.6rem;
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}