// MIXINS
@mixin before-triangle($direction) {
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -2.5rem;
        @if $direction == left {
            left: -2.5rem;
        } @else {
            right: -2.5rem;
        }
        height: 5rem;
        width: 5rem;
        background: $orange;
        transform: rotate(45deg);
    }
}