// VARIABLES

// Colours
$black: #000;
$white: #FFF;
$gray: #777;
$gray--light: #E1D4C6;
$gray--ghost: #FAFAFA;

$background--fill: $white;

// Theme
$orange: #F19F45;
$orange--light: #FFCC94;
$orange--ghost: #FEF7E7;

// Validations
$valid: #2c9100;
$warning: #ff9100;
$danger: #ff1100;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$heavy: 700;

$font-size-root: 10px !default;
$font-size-base: 1.4rem !default;
$font-family: 'Lato', Arial, Helvetica, sans-serif;
$line-height-base: 1.3 !default;
