// VARIABLES

// Colours
$black: #000;
$white: #FFF;
$gray: #777;
$gray--light: #CCC;
$gray--ghost: #FAFAFA;

$background--fill: $white;

// Theme
$orange: #F19F45;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$heavy: 700;

$font-size-root: 10px !default;
$font-size-base: 1.4rem !default;
$font-family: 'Lato', Arial, Helvetica, sans-serif;
$line-height-base: 1.3 !default;
