<section>
  <form [formGroup]="gameForm" (ngSubmit)="submitForm()" class="wrapper current-step-{{step}}">

    <div class="step step-1">
        <header>
            <div class="title"><h2>Ajouter un jeu.</h2></div>
        </header>
        <fieldset>

            <p><span class="warn">*</span> Champs obligatoires.</p>

            <div class="input-group">
                <label for="game_name"><span class="warn">*</span>Nom du jeu</label>
                <input type="text" name="game_name" formControlName="game_name" required>
            </div>
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && chkName">
              <sup>*</sup>Veuillez indiquer un nom correcte.
            </div>

            <div class="input-group">
                <label for="game_image">Image ?</label>
                <input type="text" name="game_image" formControlName="game_image">
            </div>

            <div class="input-group">
                <label for="game_description"><span class="warn">*</span>Description</label>
                <textarea rows="4" cols="100" name="game_description" formControlName="game_description" required></textarea>
            </div>
            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && chkDescr">
              <sup>*</sup>Veuillez indiquer une description correcte.
            </div>

            <div class="input-group">
              <mat-form-field>
                <label><span class="warn">*</span>Auteurs</label>
                <mat-select formControlName="game_author" multiple>
                  <mat-option *ngFor="let author of listAuthors" [value]="author">{{author.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="gameAuthors()">
                <label>Si vous ne trouvez pas les auteurs, veuillez les ajouter dans le champ ci-dessous en les séparant par des ,</label>
                <input type="text" name="new_author" formControlName="game_author_new">
              </div>
            </div>

            <div class="input-group">
              <mat-form-field>
                <label><span class="warn">*</span>Editeurs</label>
                <mat-select formControlName="game_editor">
                  <mat-option *ngFor="let editor of listEditors" [value]="editor">{{editor.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="gameEditors()">
                <label>Si vous ne trouvez pas l'éditeur, veuillez l'ajouter dans le champ ci-dessous</label>
                <input type="text" name="new_editor" formControlName="game_editor_new">
              </div>
            </div>

            <div class="col-lg-12">
              <div class="input-group col-lg-3">
                  <label for="game_players"><span class="warn">*</span>Nombre de joueurs</label>
                  <input type="text" name="game_players" formControlName="game_players" required>
              </div>
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="isSubmitted && chkPlayers">
                <sup>*</sup>Veuillez indiquer un nombre de joueurs correcte.
              </div>

              <div class="input-group col-lg-3">
                  <label for="game_duration"><span class="warn">*</span>Durée d'une partie</label>
                  <input type="text" name="game_duration" formControlName="game_duration" required>
              </div>
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="isSubmitted && chkDuration">
                <sup>*</sup>Veuillez indiquer une durée de partie correcte.
              </div>

              <div class="input-group col-lg-3">
                  <label for="game_published">Publication</label>
                  <input type="text" name="game_published" formControlName="game_published">
              </div>

              <div class="input-group col-lg-3">
                  <label for="game_age"><span class="warn">*</span>Age minimum:</label>
                  <input type="text" name="game_age" formControlName="game_age" required>
              </div>
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="isSubmitted && chkAge">
                <sup>*</sup>Veuillez indiquer un age minimum correct.
              </div>
            </div>

            <div class="input-group">
                <label for="game_price">Prix de vente initial</label>
                <input type="number" name="game_price" formControlName="game_price">
            </div>
            <div class="input-group">
              
              <mat-form-field>
                <label><span class="warn">*</span>Evaluation</label>
                <mat-select formControlName="game_rating">
                  <mat-option *ngFor="let rating of ratingList" [value]="rating">{{rating}}</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- error block -->
              <div class="invalid-feedback" *ngIf="isSubmitted && chkRating">
                <sup>*</sup>Selectionner une évaluation
              </div>

            </div>
            <div class="input-group">
                <label for="game_category"><span class="warn">*</span>Catégorie </label>
                <div *ngFor="let category of listCategories">
                  <input type="checkbox" (change)="onChangeCat(category, $event.target.checked)">{{category.name}}
                </div>
            </div>

            <div class="input-group">
              <label for="game_extension">Si le jeu est une extension:</label>
              <mat-form-field>
                <!-- <mat-label>Selectionner le jeu de base</mat-label> -->
                <mat-select formControlName="game_extension">
                  <mat-option *ngFor="let game of listGames" [value]="game">{{game.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
        </fieldset>
        <button [disabled]="gameForm.invalid" type="submit" class="btn btn-primary btn-small">Ajouter le jeu</button>
    </div>

  </form>
</section>
