<section class="login-page">

    <div class="wrapper">
        <header>
            <img src="../../../assets/images/logo.svg" alt="">
            <h1><span class="txt-orange">Débazar</span> est ravi de te revoir !</h1>
        </header>
    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
            <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.login_mail.errors }">
                <label for="login_mail">Addresse mail</label>
                <input type="text" name="login_mail" formControlName="login_mail" placeholder="jean.dubazar@debazar.fr">
                <small *ngIf="submitted && f.login_mail.errors">L'email n'est pas valide</small>
            </div>
    
            <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.login_password.errors }">
                <label for="login_password">Mot de passe</label>
                <input type="password" name="login_password" formControlName="login_password">
                <small *ngIf="submitted && f.login_password.errors">Le mot de passe doit être renseigné</small>
            </div>
    
            <div class="input-group">
                <small *ngIf="submitted && wrongIds">Le couple email - mot de passe en correspond pas à un compte connu</small>
            </div>
    
            <footer class="input-group">
                <button type="submit" class="btn btn-primary btn-small">Connexion</button>
                <button [routerLink]="['/inscription']" class="btn btn-secondary btn-small">Inscription</button>
            </footer>
    
        </form>
    </div>

</section>
