<section class="recent-adverts index" [ngClass]="{about: isAbout}" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)">
    <div class="wrapper">
        <header>
            <h2>Annonces récentes</h2>
        </header>
        <div class="advert-list-container" *ngIf="!isLoading; else loading;">
            <app-advert-card *ngFor="let advert of adverts" [advert]=advert></app-advert-card>
        </div>
        <ng-template #loading>
            <div class="spinner-wrapper">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </div>
    <footer>
        <app-scroller page_url="/jeux" page_title="Voir nos jeux"></app-scroller>
        <span (click)="toggleAbout()" class="btn btn-primary btn-round">
            <fa-icon [icon]="faQuestion"></fa-icon>
        </span>
    </footer>
    <div class="about-modal">
        <div class="content card">
            <h2>Avec Débazar, achetez vos jeux de société d’occasion au meilleur prix !</h2>
            <p>Si vous êtes à la recherche d’un jeu de société d’occasion à acheter, vous êtes au bon endroit ! Débazar accueille les joueurs qui souhaitent vider leurs étagères comme ceux qui veulent faire de bonnes affaires à petit prix.</p>
            <h2>Le vide-greniers du jeu de société</h2>
            <p>Bienvenue sur la plus grande braderie de jeux de société du net ! Débazar, c’est un véritable espace de rencontres pour les amateurs de jeux de société. En quelques clics, vous découvrez quels jeux sont disponibles à la vente. Un coup d’œil sur la réputation du vendeur (représentée par des étoiles), l’état du jeu et le prix et vous pouvez passer commande de votre objet préféré.</p>
            <p>Pas de vendeurs professionnels sur notre marketplace. Vous avez la garantie que votre interlocuteur est un particulier comme vous. Nous y veillons.</p>
            <h2>Comment je paye mon achat ?</h2>
            <p>Débazar vous offre la sécurité de la transaction. Nous faisons l’intermédiaire entre vous acheteur et le vendeur du jeu. Votre paiement est sécurisé jusque ce que vous ayez validé la réception de votre commande. Le produit n’est pas conforme à l’annonce ? Renvoyez-le à son propriétaire et sur preuve du retour, nous vous renvoyons votre argent. Et si le produit n’arrive jamais, alors vous récupérez votre argent.</p>
            <p>C’est simple et sûr.</p>
            <h2>Les garanties Débazar pour acheter un jeu de société d’occasion</h2>
            <div>
                <ul>
                    <li>Les informations sur l’état du jeu sont claires</li>
                    <li>Pas de vendeurs professionnels parmi nous</li>
                    <li>Pas de risques de se faire escroquer par un vendeur malhonnête</li>
                    <li>Le droit au retour du jeu est possible sans prélèvement de frais sur votre paiement</li>
                </ul>
            </div>
            <h2>Et si je veux vendre un jeu d’occasion ?</h2>
            <p>On a toujours le droit d’être déçu par un jeu que l’on achète. Vous pouvez donc revendre à votre tour une boîte qui prend la poussière sur l’étagère. Découvrez nos conditions de vente.</p>
        </div>
        <div class="close-btn btn btn-primary btn-round" (click)="toggleAbout()">
            <fa-icon [icon]="faTimes" size=lg></fa-icon>
        </div>
    </div>
</section>