<header class="global">
    <nav>
        <div class="logo-container">
            <a [routerLink]="['/']" routerLinkActive="active" >Accueil</a>
        </div>
        <ul class="menu">
            <li>
                <a [routerLink]="['/nos-jeux']" routerLinkActive="active" >Nos Jeux</a>
            </li>
            <li>
                <a [routerLink]="['/les-annonces']" routerLinkActive="active" >Annonces</a>
            </li>
        </ul>
        <ul class="social-links">
            <li>
                <a href="#">Connexion</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
