@import "../scss/_variables.scss";

.all-games {
    .wrapper {
        .game-list-container {
            padding: 1rem 5% 2.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            > * {
                max-width: 50%;
                min-width: 50%;
                padding: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .all-games {
        .wrapper {
            .game-list-container {
                > * {
                    min-width: 100%;
                }
            }
        }
    }
}