<section class="landing full-height">
    <h1>DÉBAZAR</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
    <div>
        <a href="#" class="btn btn-secondary">Me connecter</a>
        <a href="#" class="btn btn-primary">Rejoignez-nous !</a>
    </div>
</section>

<section class="recent-adverts full-height">
  <h2>Annonces récentes</h2>
    <div class="advert-list-container">
        <app-advert-card *ngFor="let advert of advertList" [advert]=advert></app-advert-card>
    </div>
</section>
