<!-- <article class="advert-item">
    <header>
        <figure>
            <img src="https://fakeimg.pl/850x500/?text=Image du jeu">
        </figure>
        <figcaption>
            <h3>{{ game.name }}</h3>
            <b>{{ game.price }} €</b>
        </figcaption>
    </header>
    <footer>
        <p>{{ game.description }}</p>
        <a href="#" class="btn btn-primary btn-small">Voir l'annonce</a>
        <a href="#" class="btn btn-secondary btn-small">Fiche du jeu</a>
    </footer>
</article> -->

<div class="game-card" (click)="flipCard()" [ngClass]="flipped ? 'active' : 'inactive'">
    <div class="game-card-inner">
        <div class="game-card-front">
            <header>
                <figure>
                    <img src="https://images.unsplash.com/photo-1536548665027-b96d34a005ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="">
                </figure>
                <h2>{{ game.name }}</h2>
                <p>Proposé par USERNAME</p>
            </header>
            <figure style="background-image: url('https://www.cdiscount.com/pdt2/6/5/7/1/700x700/auc1765081743657/rw/jeu-d-echecs-professionnel-no-5-acajou-echiqui.jpg')"></figure>
        </div>
        <div class="game-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
            <a href="#" class="btn btn-secondary btn-small">Fiche du jeu</a>
        </div>
    </div>
</div>