<article class="advert-item">
    <header>
        <figure>
            <img src="https://fakeimg.pl/850x500/?text=Image du jeu">
        </figure>
        <figcaption>
            <h3>{{ game.name }}</h3>
            <b>{{ game.price }} €</b>
        </figcaption>
    </header>
    <footer>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus in hac habitasse platea. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin.</p>
        <a href="#" class="btn btn-primary">Voir l'annonce</a>
        <a href="#" class="btn btn-secondary">Fiche du jeu</a>
    </footer>
</article>