<article class="advert-item">
    <header>
        <figure>
            <img src="https://fakeimg.pl/850x500/?text=Image du jeu">
        </figure>
        <figcaption>
            <h3>{{ game.name }}</h3>
            <b>{{ game.price }} €</b>
        </figcaption>
    </header>
    <footer>
        <p>{{ game.description }}</p>
        <a href="#" class="btn btn-primary btn-small">Voir l'annonce</a>
        <a href="#" class="btn btn-secondary btn-small">Fiche du jeu</a>
    </footer>
</article>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            test
        </div>
        <div class="flip-card-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
        </div>
    </div>
</div>