<div class="advert-card">
    <div class="card-wrapper">
        <div class="main-container">
            <aside>
                <figure>
                    <img src="https://www.kroger.com/product/images/xlarge/front/0063050951263" alt="">
                </figure>
            </aside>
            <div class="informations">
                <header>
                    <h2>{{ game.name }}</h2><var class="float-right">{{ advert.price }}€</var>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </header>
                <p>{{ advert.text }}</p>
            </div>
        </div>
        <footer>
            <a href="/jeu/{{ game.id }}" class="btn btn-secondary btn-small">Fiche du jeu</a>
            <a href="/annonce/{{ advert.id }}" class="btn btn-primary btn-small">Voir l'annonce</a>
        </footer>
    </div>
</div>