@import "../scss/_variables.scss";

.advert-card {
    display: inline-block;
    margin: 0 0 1.5rem 1.5rem;
    padding: 1.5rem;
    position: relative;
    background: $white;
    border-radius: 1rem;
    border: .5rem solid rgba($orange, .35);
    box-shadow: .2rem .2rem 1rem rgba($black, .15);

    .card-wrapper {
        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            aside {
                max-width: 40%;
                figure {
                    max-height: 15rem;
                    max-width: 15rem;
                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
            .informations {
                max-width: 60%;
                header {
                    
                }
            }
        }
    }

}