<section class="spotlight full-height index" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)">
    <div *ngFor="let game of games" class="wrapper-all">
        <div class="wrapper">
            <header>
                <h2>Le jeu du moment</h2>
            </header>
            <main>
                <aside>
                    <app-game-card [isShowcase]="true" [game]=game></app-game-card>
                </aside>
                <article>
                    <h3>{{ game.name }}</h3>
                    <div>{{ game.description }}</div>
                </article>
            </main>
        </div>
        <app-scroller page_url="/jeux/{{ game.id }}" page_title="Voir les offres sur ce jeu" prev_url="/top-jeux-societe"></app-scroller>
    </div>
</section>
