<section class="spotlight full-height index">
    <div class="wrapper">
        <h2>Le jeu du moment</h2>
        <main>
            <aside>
                <figure>
    
                </figure>
            </aside>
            <article>
                <h3>The Mind</h3>
                <div>
                    <p>Avec The Mind, constituez une suite croissante de numéros avec les autres joueurs. Jouez en collaboration, mais sans la moindre communication. Dans The Mind, jouez en équipe mais en silence. Sentez le jeu et faites preuve de patience !</p>
                    <p>The Mind contient des cartes numérotées de 1 à 100. Votre objectif sera de compléter collectivement tous les niveaux en constituant une suite croissante.</p>
                    <p>Dans un niveau, chaque joueur reçoit une main de cartes égale au nombre de cartes du niveau : une carte dans le niveau 1, deux cartes dans le niveau 2, et ainsi de suite. Pour réussir un niveau, toutes les cartes doivent être jouée dans l'ordre. Chaque joueur connaît ses cartes, mais uniquement les siennes.</p>
                </div>
            </article>
        </main>
    </div>
</section>
